html {
  height: 100%;
  overflow: hidden;
}

body {
  font: normal 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0px;
  background: teal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a:focus,
button:focus,
select:focus {
  outline: 1px dotted black;
  outline-offset: -4px;
}

button {
  border: 1px outset #fff;
  border-right-color: #424242;
  border-bottom-color: #424242;
  width: 74px;
  height: 24px;
  background: #c0c0c0;
  padding: 0 0 4px 0;
  margin: 2px 8px 6px 8px;
}

button:active {
  border: 1px inset #fff;
}

input[type="text"] {
  line-height: 18px;
  background-color: #e2e2e2;
  border: 1px solid #000;
  border-right-color: #fff;
  border-bottom-color: #c0c0c0;
  -webkit-box-shadow: 1px 1px white;
          box-shadow: 1px 1px white;
  background: #fff;
  margin: 0;
  display: inline-block;
  width: 180px;
}

.clear {
  clear: both;
}

#follower {
  position: relative;
  background-color: yellow;
  width: 15px;
  height: 15px;
  margin-left: -8px;
  margin-top: -8px;
  border-radius: 50px;
}

.ui-menu.ui-autocomplete {
  width: 280px !important;
  background: white;
  border: 1px solid black;
  padding: 2px;
  font: normal 11pt/1.3 'Hevetica Neue', Arial, Helvetica, sans-serif;
  z-index: 214293949;
}

.ui-menu.ui-autocomplete li {
  display: block;
  font: normal 8pt/1.3 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.ui-menu.ui-autocomplete li:hover {
  color: white;
  background: darkblue;
}

.ui-resizable {
  position: relative;
}

.ui-resizable-handle {
  position: absolute;
  font-size: 0 0.0714px;
  display: block;
  -ms-touch-action: none;
}

.ui-resizable-s {
  cursor: s-resize;
  height: 20px;
  width: 100%;
  left: 0;
  /* bottom: -1.429em; */
}

.ui-resizable-e {
  cursor: e-resize;
  width: 20px;
  right: -20px;
  top: 0;
  height: 100%;
}

.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -4px;
  top: 0;
  height: 100%;
}

.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 0.0714px;
  padding: 14px;
}

.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -4px;
  bottom: -4px;
}

.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -4px;
  top: -4px;
}

.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -4px;
  top: -4px;
}

.disabled-action-toolbar {
  opacity: 0.2;
  filter: alpha(opacity=20);
  color: grey;
  pointer-events: none;
}

.disabled-action-toolbar:active {
  pointer-events: none;
}

.disabled-action-toolbar:focus {
  pointer-events: none;
}

.disabled-action-toolbar:hover {
  pointer-events: none;
}

.disabled-action {
  color: grey;
  text-shadow: 1px 1px white;
  -webkit-background-clip: text;
  background-clip: text;
  pointer-events: none;
}

.disabled-action:active {
  pointer-events: none;
}

.disabled-action:focus {
  pointer-events: none;
}

.disabled-action:hover {
  pointer-events: none;
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

#login,
#logoff,
#shutdown {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 490px;
  font-size: 12px;
  border: 1px outset #fff;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

#login .content-box,
#logoff .content-box,
#shutdown .content-box {
  padding: 4px 4px 14px 20px;
  margin: 0;
}

#login .title-bar .title,
#logoff .title-bar .title,
#shutdown .title-bar .title {
  padding-left: 2px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  background: none !important;
  /* "overflow" value must be different from "visible" */
  text-overflow: ellipsis;
  padding-top: 1px;
  padding-bottom: 1px;
}

#login .icon,
#logoff .icon,
#shutdown .icon {
  display: inline-block;
  margin: 10px 0 0 0;
}

#login .ok-button,
#logoff .ok-button,
#shutdown .ok-button {
  border: 1px outset #fff;
  border-right: 2px solid #424242;
  border-bottom: 2px solid #424242;
  -webkit-box-shadow: -1px -1px #000;
          box-shadow: -1px -1px #000;
  display: block;
}

#login .ok-button:active,
#logoff .ok-button:active,
#shutdown .ok-button:active {
  border: 2px inset #fff;
}

#login .hover,
#logoff .hover,
#shutdown .hover {
  background: red;
}

#login {
  display: none;
}

#login .login-text {
  display: inline-block;
  margin: 10px 7px 0px 12px;
  vertical-align: top;
}

#login .login-buttons {
  display: inline-block;
  margin: 8px 0px 0 0px;
  vertical-align: top;
}

#login .login-form {
  margin: 0 auto;
  margin-top: -30px;
  width: 74%;
}

#login p.text {
  display: inline-block;
  margin: 8px 19px 4px 4px;
}

.audio-button {
  position: fixed;
  bottom: 12px;
  right: 8px;
  width: 18px;
  background-size: 18px 18px;
  background: url("../images/win98_icons/volume.ico") no-repeat;
}

.mute {
  background: url("../images/win98_icons/volumemute.ico") no-repeat !important;
}

#logoff {
  display: none;
  width: auto !important;
}

#logoff .icon {
  margin: 0 0 0 0 !important;
}

.logoff-content,
.shutdown-content {
  height: auto;
  background: #c0c0c0;
}

.logoff-content p,
.shutdown-content p {
  margin: 20px 5px 5px 10px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  max-width: 400px;
  word-wrap: break-word;
}

.logoff-content img,
.shutdown-content img {
  width: 48px;
}

.logoff-content .button,
.shutdown-content .button {
  text-align: center;
  margin-left: 0;
}

.logoff-content .ok-button,
.shutdown-content .ok-button {
  display: inline !important;
}

.logoff-content .text,
.shutdown-content .text {
  padding: 10px 20px 10px 20px;
}

#shutdown {
  width: auto;
  display: none;
}

#shutdown .radio {
  padding: 0px 0px 0px 65px;
  margin: 0 auto;
  margin-top: -10px;
}

#shutdown .button {
  padding: 18px 15px 4px 12px;
  margin-left: 60px;
}

#shutdown .shutdown-content .button {
  margin-left: 45px !important;
}

#shutdown .shutdown-content img {
  width: auto !important;
  margin: 16px 0 0 0 !important;
}

#shutdown .shutdown-content p {
  margin-left: 18px !important;
}

#shutdown .shutdown-content .text {
  padding: 10px 20px 10px 10px !important;
  padding-bottom: 0px !important;
}

#shutdown .shutdown-content label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin: 1px;
  margin-right: 15px;
}

#shutdown .shutdown-content input[type=radio] {
  display: none;
}

#shutdown .shutdown-content label:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 2px;
  background-color: #fff;
  -webkit-box-shadow: -1px -1px 0px 0px #828282;
          box-shadow: -1px -1px 0px 0px #828282;
  border: 1px solid black;
  border-bottom-color: #d3d3d3;
  border-right-color: #d3d3d3;
}

#shutdown .shutdown-content .radio label:before {
  border-radius: 8px;
}

#shutdown .shutdown-content input[type=radio]:checked + label:before {
  content: "\2022";
  color: #000;
  font-size: 20px;
  text-align: center;
  line-height: 10px;
}

#desktop {
  width: 100%;
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  display: none;
  /* iOS Safari */
}

.desktop-icon {
  position: absolute;
  margin-top: 4px;
  text-align: center;
  padding: 8px;
  width: 78px;
  background-size: 32px !important;
}

.desktop-icon:active {
  cursor: default;
}

.desktop-icon:focus {
  outline: none;
  cursor: default;
}

.desktop-icon.disabled {
  opacity: 0.4;
}

.desktop-icon .text {
  cursor: default;
  font-size: 12px;
  position: relative;
  margin: 30px 0 0 0px;
  color: white;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
}

.desktop-icon .active {
  overflow-y: visible;
  word-break: break-word;
  width: auto;
  color: #ffffff;
}

.desktop-icon .active span {
  background: blue;
}

.desktop-icon p {
  text-align: center;
}

.user-file-list:focus span:focus {
  background: blue;
  color: white;
}

.window {
  margin: 0px;
  position: fixed;
  /****
    * Menu bar
    ***/
  /****
    * Toolbar
    ***/
}

.window .window-border {
  -webkit-box-shadow: 1px 1px 0px 0px #424242;
          box-shadow: 1px 1px 0px 0px #424242;
  border: 1px solid #ffffff;
  border-right-color: #848484;
  border-bottom-color: #848484;
  background: #c0c0c0;
  padding: 2px;
}

.window .title-bar {
  padding: 0;
  background: #808080;
  color: #fff;
  font-weight: 500;
}

.window .title-bar .title {
  padding-left: 20px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  /* "overflow" value must be different from "visible" */
  text-overflow: ellipsis;
  padding-top: 2px;
  padding-bottom: 1px;
}

.window .control-box {
  float: right;
  margin: 1px;
}

.window .button-3d {
  display: block;
  float: left;
  border: 1px solid #ffffff;
  border-right-color: #424242;
  border-bottom-color: #424242;
  background: #c0c0c0;
  height: 14px;
  width: 14px;
  color: transparent;
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
}

.window .button-3d:active {
  border: 1px inset #fff;
}

.window .button-3d span {
  display: block;
  border-top-width: 0;
  border-left-width: 0;
  font-size: 1px;
  line-height: 13px;
}

.window .button-3d.maximize {
  margin-right: 2px;
  margin-left: 1px;
}

.window .button-3d.close {
  background-image: url(../images/window/close.png);
}

.window .button-3d.question {
  background-image: url(../images/window/question.png);
}

.window .button-3d.question-save {
  background-image: url(../images/window/question.bmp);
}

.window .button-3d.close-save {
  background-image: url(../images/window/close.png);
}

.window .button-3d.close-dialog {
  background-image: url(../images/window/close.png);
}

.window .button-3d.close-run {
  background-image: url(../images/window/close.png);
}

.window .button-3d.maximize {
  background-image: url(../images/window/maximize.png);
}

.window .button-3d.minimize {
  background-image: url(../images/window/minimize.png);
}

.window .menu-bar,
.window .toolbar {
  height: 20px;
  overflow: hidden;
  margin: 2px 1px;
  padding: 0 6px;
  background: url(../images/window/toolbar-grip.png) no-repeat 2px 6px;
}

.window .menu-bar {
  line-height: 22px;
  margin: 0;
  border: 1px outset #fff;
}

.window .menu-bar a {
  text-decoration: none;
  display: inline-block;
  padding: 0px 9px;
}

.window .menu-bar a span {
  text-decoration: underline;
}

.window h1 {
  font-size: 24px;
}

.window h2 {
  font-size: 20px;
}

.window h3 {
  font-size: 18px;
}

.window h4 {
  font-size: 16px;
}

.window pre {
  font-size: 14px;
}

.window .clear {
  clear: both;
}

.window .toolbar {
  background-color: #c0c0c0;
  border: 1px outset #fff;
  margin: 0;
}

.window .toolbar a {
  display: inline-block;
  border: 1px solid transparent;
  margin: 0px 0px 2px 0px;
  text-decoration: none;
  width: 18px;
  height: 18px;
  background: no-repeat center left;
}

.window .toolbar .sep {
  display: inline-block;
  width: 1px;
  background: #a5a5a5;
  margin: 1px 2px;
  height: 20px;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.window .toolbar.float-left {
  float: left;
  margin-right: 2px;
}

.window .toolbar.float-right {
  float: right;
}

.window .toolbar .b-new {
  background-image: url(../images/Word%20Images/New.bmp);
}

.window .toolbar .b-open {
  background-image: url(../images/Word%20Images/Open.bmp);
}

.window .toolbar .b-save {
  background-image: url(../images/Word%20Images/save.bmp);
}

.window .toolbar .b-print {
  background-image: url(../images/Word%20Images/print.bmp);
}

.window .toolbar .b-preview {
  background-image: url(../images/Word%20Images/preview.bmp);
}

.window .toolbar .b-spell {
  background-image: url(../images/Word%20Images/spellcheck.bmp);
}

.window .toolbar .b-cut {
  background-image: url(../images/Word%20Images/cut.bmp);
}

.window .toolbar .b-copy {
  background-image: url(../images/Word%20Images/copy.bmp);
}

.window .toolbar .b-paste {
  opacity: 0.2;
  filter: alpha(opacity=20);
  background-image: url(../images/Word%20Images/paste.bmp);
}

.window .toolbar .b-style-brush {
  background-image: url(../images/Word%20Images/style.bmp);
}

.window .toolbar .b-undo {
  background-image: url(../images/Word%20Images/undo.bmp);
}

.window .toolbar .b-redo {
  background-image: url(../images/Word%20Images/redo.bmp);
}

.window .toolbar .b-style {
  background-image: url(../images/Word%20Images/style.bmp);
}

.window .toolbar .b-bold {
  background-image: url(../images/Word%20Images/bold.bmp);
}

.window .toolbar .b-italic {
  background-image: url(../images/Word%20Images/italic.bmp);
}

.window .toolbar .b-underline {
  background-image: url(../images/Word%20Images/underline.bmp);
}

.window .toolbar .b-left {
  background-image: url(../images/Word%20Images/left.bmp);
}

.window .toolbar .b-center {
  background-image: url(../images/Word%20Images/center.bmp);
}

.window .toolbar .b-right {
  background-image: url(../images/Word%20Images/right.bmp);
}

.window .toolbar .b-ol {
  background-image: url(../images/Word%20Images/ol.bmp);
}

.window .toolbar .b-ul {
  background-image: url(../images/Word%20Images/ul.bmp);
}

.window .toolbar .b-share {
  background-image: url(../images/Word%20Images/share.bmp);
}

.window .toolbar .b-tweet {
  background-image: url(../images/Word%20Images/tweet.bmp);
}

.window .toolbar .b-fork {
  background-image: url(../images/Word%20Images/fork.bmp);
}

.window .toolbar .b-number {
  background-image: url(../images/Word%20Images/number.bmp);
}

.window .toolbar .b-bullet {
  background-image: url(../images/Word%20Images/bullet.bmp);
}

.window .toolbar .b-outdent {
  background-image: url(../images/Word%20Images/indent.bmp);
}

.window .toolbar .b-indent {
  background-image: url(../images/Word%20Images/inc-indent.bmp);
}

.window .toolbar .b-hilite {
  background-image: url(../images/Word%20Images/highlight.bmp);
}

.window .toolbar .b-fontcolor {
  background-image: url(../images/Word%20Images/fontcolor.bmp);
}

.window .toolbar a:hover {
  background-color: #c0c0c0;
  border: 1px outset #fff;
}

.window .toolbar a:active {
  border: 1px inset #fff;
}

.window .toolbar a.text {
  width: auto;
  padding-left: 22px;
  padding-right: 4px;
  line-height: 18px;
  background-position: 2px 1px;
}

.window .toolbar a.text {
  font-style: normal;
  display: inline-block;
  padding: 2px;
  font-size: 10px;
  line-height: 10px;
  background: #d8e6ff;
  border: 1px solid #c2d3f4;
  border-radius: 3px;
  margin-left: 5px;
}

.window .toolbar .picker {
  line-height: 18px;
  height: 18px;
  background: #fff;
  margin: 4px 0 2px 0;
  display: inline-block;
  padding-left: 3px;
  position: relative;
  vertical-align: top;
}

.window .selectPicker {
  line-height: 18px;
  padding: 0 30px 0 10px !important;
  -webkit-padding-end: 30px !important;
  -webkit-padding-start: 10px !important;
  width: auto;
  display: inline-block;
  padding-left: 2px;
  position: relative;
  vertical-align: top;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: url(../images/window/toolbar/combo.png), -webkit-gradient(linear, left top, right top, color-stop(0, white), color-stop(55%, white), color-stop(56%, #c0c0c0), to(#c0c0c0)), white;
  background: url(../images/window/toolbar/combo.png), linear-gradient(90deg, white 0, white 55%, #c0c0c0 56%, #c0c0c0 100%), white;
  background-repeat: no-repeat;
  background-position: 97.5% 50%, 99% 50%;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: auto auto, 26px 16px;
}

.window .picker .arrow {
  display: block;
  float: right;
  width: 11px;
  background: #c0c0c0 url(../images/window/toolbar/combo.png) no-repeat center center;
  height: 16px;
  margin: 1px 1px 1px 10px;
}

.window .color-picker {
  margin-top: 16px;
  position: fixed;
  background: #c0c0c0;
  z-index: 99;
}

.window .color-picker table {
  width: 100px;
}

.window .color-picker table a {
  border: 1px solid #848484;
  width: 10px;
  height: 10px;
  text-align: center;
}

.window .color-picker table a:hover {
  border: 1px solid #848484;
}

.window .color-picker table td {
  margin: 1px;
  border: 1px solid #c0c0c0;
}

.window .color-picker table td:hover {
  border: 1px outset #fff;
}

.window .color-picker table td:active {
  border: 1px inset #fff;
  background: url(../images/Word%20Images/background.bmp);
}

.active-window .title-bar {
  background: #08216b !important;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, left top, right top, from(#08216b), to(#a5cef7)) !important;
  background: linear-gradient(left, #08216b 0%, #a5cef7 100%) !important;
  /* W3C */
  /* IE6-9 */
}

.dialog {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.dialog .title {
  background: none !important;
  padding-left: 4px !important;
}

.dialog .error-content {
  height: auto;
  background: #c0c0c0;
}

.dialog p {
  margin: 10px 20px 0px 20px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  max-width: 400px;
  word-wrap: break-word;
}

.dialog img {
  width: 32px;
}

.dialog .button {
  text-align: center;
}

.dialog .text {
  padding: 10px 20px 10px 20px;
}

#save,
#open,
#attach {
  position: absolute;
  top: 50%;
  left: 25%;
  display: none;
}

#save .save-content,
#save .open-content,
#save .attach-content,
#open .save-content,
#open .open-content,
#open .attach-content,
#attach .save-content,
#attach .open-content,
#attach .attach-content {
  background: #c0c0c0;
}

#save .title-bar .title,
#open .title-bar .title,
#attach .title-bar .title {
  background: none !important;
  padding-left: 4px;
}

#save .top-bar,
#open .top-bar,
#attach .top-bar {
  margin: 4px 8px 4px 6px;
}

#save .top-bar a,
#open .top-bar a,
#attach .top-bar a {
  display: inline-block;
  height: 0;
  margin-left: 8px;
}

#save .picker,
#open .picker,
#attach .picker {
  line-height: 18px;
  background-color: #e2e2e2;
  border: 1px solid #424242;
  border-right-color: #fff;
  border-bottom-color: #c0c0c0;
  -webkit-box-shadow: 1px 1px white;
          box-shadow: 1px 1px white;
  background: #fff;
  margin: 2px 2px 2px 2px;
  display: inline-block;
  padding-left: 4px;
  position: relative;
  width: 208px;
  height: 18px;
}

#save .picker img,
#open .picker img,
#attach .picker img {
  width: 14px;
  margin: 2px 4px 0px 2px;
  vertical-align: sub;
}

#save .picker .arrow,
#open .picker .arrow,
#attach .picker .arrow {
  display: inline-block;
  float: right;
  width: 16px;
  background: #c0c0c0 url(../images/window/toolbar/combo.png) no-repeat center center;
  background-size: 45%;
  height: 17px;
  border: 1px outset #fff;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
}

#save .select,
#open .select,
#attach .select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: #fff url(../images/window/arrow.png);
  background-repeat: no-repeat;
  background-position: 100% 0%, 100% 0%;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: auto auto, 26px 17px;
  height: 20px;
}

#save .action,
#open .action,
#attach .action {
  border: 1px outset #fff;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: top;
  margin: 2px 0 0 0px;
}

#save .action:active,
#open .action:active,
#attach .action:active {
  border: 1px inset #fff;
}

#save .up,
#open .up,
#attach .up {
  background: #c0c0c0 url(../images/win98_icons/up.bmp) no-repeat center center;
}

#save .new,
#open .new,
#attach .new {
  background: #c0c0c0 url(../images/win98_icons/msihnd_7.png) no-repeat center center;
}

#save .desktop-ico,
#open .desktop-ico,
#attach .desktop-ico {
  background: #c0c0c0 url(../images/win98_icons/desktop.png) no-repeat center center;
  background-size: 80%;
}

#save .list-view,
#open .list-view,
#attach .list-view {
  background: #c0c0c0 url(../images/win98_icons/list-view.bmp) no-repeat center center;
}

#save .icon-view,
#open .icon-view,
#attach .icon-view {
  background: #c0c0c0 url(../images/win98_icons/icon-view.bmp) no-repeat center center;
}

#save .folders,
#open .folders,
#attach .folders {
  width: 100%;
}

#save .folders .folder-list,
#open .folders .folder-list,
#attach .folders .folder-list {
  display: block;
  position: relative;
  outline: none;
}

#save .folders .folder-list:focus span,
#open .folders .folder-list:focus span,
#attach .folders .folder-list:focus span {
  background: blue;
  color: white;
}

#save .folders .content1-box,
#open .folders .content1-box,
#attach .folders .content1-box {
  background: #fff;
  height: 112px;
  padding: 2px 4px 0px 2px;
  margin: 2px 8px 0 8px;
  border: 1px solid #424242;
  border-right-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
  -webkit-box-shadow: 1px 1px white;
          box-shadow: 1px 1px white;
  overflow-y: scroll;
}

#save .folders .content1-box .selected span,
#open .folders .content1-box .selected span,
#attach .folders .content1-box .selected span {
  background: blue;
  color: white;
}

#save .bottom-bar,
#open .bottom-bar,
#attach .bottom-bar {
  margin: 4px 4px 0px 8px;
}

#save .bottom-bar p,
#open .bottom-bar p,
#attach .bottom-bar p {
  display: inline;
}

#save .bottom-bar input[type="text"],
#open .bottom-bar input[type="text"],
#attach .bottom-bar input[type="text"] {
  line-height: 16px;
  background-color: #e2e2e2;
  border: 1px solid #424242;
  border-right-color: #fff;
  border-bottom-color: #c0c0c0;
  -webkit-box-shadow: 1px 1px white;
          box-shadow: 1px 1px white;
  background: #fff;
  margin: 2px 2px 2px 31px;
  display: inline-block;
  width: 226px;
}

#save .bottom-bar .save-button,
#save .bottom-bar .open-button,
#save .bottom-bar .attach-button,
#open .bottom-bar .save-button,
#open .bottom-bar .open-button,
#open .bottom-bar .attach-button,
#attach .bottom-bar .save-button,
#attach .bottom-bar .open-button,
#attach .bottom-bar .attach-button {
  border: 2px outset #fff;
  border-right: 3px solid #424242;
  border-bottom: 3px solid #424242;
  -webkit-box-shadow: -1px -1px #000;
          box-shadow: -1px -1px #000;
}

#save .bottom-bar .save-button:active,
#save .bottom-bar .open-button:active,
#save .bottom-bar .attach-button:active,
#open .bottom-bar .save-button:active,
#open .bottom-bar .open-button:active,
#open .bottom-bar .attach-button:active,
#attach .bottom-bar .save-button:active,
#attach .bottom-bar .open-button:active,
#attach .bottom-bar .attach-button:active {
  border: 1px inset #fff;
}

.word {
  width: 700px;
  min-width: 375px;
  min-height: 200px;
  height: 300px;
  width: 700px;
  /****
    * Rullers
    ****/
  /****
    * Document
    ***/
  /****
    * Status bar
    ***/
}

.word .title-bar .title {
  background: url(../images/Word%20Images/winword8.png) no-repeat left center;
}

.word .content {
  border: 1px solid #848484;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  background: #848484 !important;
  height: 100%;
  width: 100%;
}

.word .content-box {
  border: 1px solid #424242;
  border-bottom: none;
  background: #848484;
  position: relative;
  width: 100%;
}

.word .top-ruler {
  height: 24px;
  background: #c0c0c0 url(../images/window/ruler-mark.png) no-repeat left top;
  padding-left: 25px;
}

.word .top-ruler .ruler {
  background: url(../images/window/horz-ruler.png);
  height: 24px;
  margin-left: 2px;
  margin-right: 20px;
}

.word .left-ruler {
  position: relative;
  width: 24px;
  background: #c0c0c0;
  float: left;
}

.word .document-scroller {
  overflow: scroll;
}

.word .document {
  margin: 5px auto 10px auto;
  background: #fff;
  border: 1px solid #000;
  -webkit-box-shadow: 1px 1px 0 0 #000;
          box-shadow: 1px 1px 0 0 #000;
  width: 21cm;
}

.word .document-wrap {
  padding: 35px;
  outline: none;
  height: 100%;
}

.word .document-wrap::-moz-selection {
  background: #000;
  color: #fff;
}

.word .document-wrap::selection {
  background: #000;
  color: #fff;
}

.word .document-wrap b::-moz-selection {
  background: #000;
  color: #fff;
}

.word .document-wrap b::selection {
  background: #000;
  color: #fff;
}

.word .document-wrap i::-moz-selection {
  background: #000;
  color: #fff;
}

.word .document-wrap i::selection {
  background: #000;
  color: #fff;
}

.word .document-wrap u::-moz-selection {
  background: #000;
  color: #fff;
}

.word .document-wrap u::selection {
  background: #000;
  color: #fff;
}

.word .status-bar {
  margin-top: 5px;
  border-top: 1px solid #848484;
  background: url("../images/window/status-bar-grip.png") no-repeat right bottom;
}

.word .status-bar-content {
  border-top: 1px solid #fff;
  padding: 4px 2px 2px 5px;
}

.word .status-bar .box {
  display: inline-block;
  border: 1px inset #fff;
  padding: 0px 5px;
  margin-right: 5px;
}

.word .status-bar .box.disabled {
  color: #848484;
}

.word-file-context-menu {
  width: 208px;
}

.word-file-context-menu .context-menu-submenu.context-menu-visible > ul {
  width: 185px !important;
}

.word-file-context-menu .context-menu-icon-updated {
  padding: 1px 0px 1px 2px !important;
}

.word-file-context-menu .context-menu-item.context-menu-hover > a {
  border: 1px outset #fff !important;
}

.word-file-context-menu .context-menu-icon-updated.context-menu-hover {
  background: none !important;
}

.word-file-context-menu .context-menu-icon-updated.context-menu-hover p {
  background: navy;
}

.word-file-context-menu p {
  display: inline-block;
  width: 80%;
  margin: 0;
  padding-left: 2px;
}

.word-file-context-menu a {
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #c0c0c0;
  margin: 0px 0px;
  text-decoration: none;
  width: 18px;
  height: 18px;
  background: no-repeat center left;
}

.word-file-context-menu .b-new {
  background-image: url(../images/Word%20Images/New.bmp);
}

.word-file-context-menu .b-open {
  background-image: url(../images/Word%20Images/Open.bmp);
}

.word-file-context-menu .b-save {
  background-image: url(../images/Word%20Images/save.bmp);
}

.word-file-context-menu .b-print {
  background-image: url(../images/Word%20Images/print.bmp);
}

.word-file-context-menu .b-preview {
  background-image: url(../images/Word%20Images/preview.bmp);
}

.word-file-context-menu .b-mail {
  background-image: url(../images/Word%20Images/mail.bmp);
}

.document-wrap {
  min-height: 300px;
}

.explorer {
  /****
    * Status bar
    ***/
}

.explorer .title {
  background: url(../images/win98_icons/directory_open.ico) no-repeat left center;
  background-size: 16px 16px;
}

.explorer .window-border {
  margin-bottom: 0px;
}

.explorer .explorer-top-bar {
  border: 1px outset #fff;
  overflow: hidden;
  display: table;
}

.explorer .explorer-top-bar a {
  display: inline-block;
  margin: 0 auto;
  width: 44px;
  height: 44px;
  background: no-repeat center left;
  border: 1px solid #c0c0c0;
  overflow: hidden;
}

.explorer .explorer-top-bar a:hover {
  border: 1px outset #fff;
}

.explorer .explorer-top-bar a:active {
  border: 1px inset #fff;
}

.explorer .explorer-top-bar .b-back {
  background-image: url(../images/Mail/back.bmp);
}

.explorer .explorer-top-bar .b-forward {
  background-image: url(../images/Mail/forward.bmp);
}

.explorer .explorer-top-bar .b-up {
  background-image: url(../images/Mail/up1.bmp);
}

.explorer .explorer-top-bar .b-delete {
  background-image: url(../images/Mail/delete.bmp);
}

.explorer .explorer-top-bar .b-properties {
  width: 52px;
  background-image: url(../images/Mail/properties.bmp);
}

.explorer .explorer-top-bar .b-send {
  background-image: url(../images/Mail/send.bmp);
}

.explorer .explorer-top-bar .b-cut {
  background-image: url(../images/Mail/cut.bmp);
}

.explorer .explorer-top-bar .b-copy {
  background-image: url(../images/Mail/copy.bmp);
}

.explorer .explorer-top-bar .b-paste {
  background-image: url(../images/Mail/paste.bmp);
}

.explorer .explorer-top-bar .b-undo {
  background-image: url(../images/Mail/undo.bmp);
}

.explorer .explorer-top-bar .b-attach {
  background-image: url(../images/Mail/attach.bmp);
}

.explorer .explorer-top-bar .f-sep {
  display: inline-block;
  width: 1px;
  background: #a5a5a5;
  height: 44px;
  border: 1px outset #fff;
  vertical-align: top;
  margin: 1px 0 2px 0;
}

.explorer .explorer-top-bar .sep {
  display: inline-block;
  width: 1px;
  background: #a5a5a5;
  height: 44px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  vertical-align: top;
  margin: 1px 0 2px 0;
}

.explorer .header-info {
  padding: 0px;
  margin: 0px;
}

.explorer .middle-bar {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.explorer .middle-bar p {
  display: inline-block;
  margin: 4px 0px 0px 0px;
}

.explorer .middle-bar .address {
  padding-right: 4px;
}

.explorer input {
  display: inline-block;
  width: 80%;
  border: 1px solid #000;
  border-right-color: #fff;
  border-bottom-color: #fff;
  background: #fff;
  -webkit-box-shadow: -1px -1px 0px 0px #828282;
          box-shadow: -1px -1px 0px 0px #828282;
  outline: none;
}

.explorer .content {
  background: white;
  border: 1px solid #000;
  border-bottom-color: #a3a3a3;
  border-right-color: #a3a3a3;
  padding: 1px;
  overflow: scroll;
}

.explorer .content .document-wrap {
  outline: none;
}

.explorer .content .left-side {
  float: left;
}

.explorer .content .sub-header {
  margin-left: 16px;
}

.explorer .content .explorer-header {
  font-weight: 700;
  font-size: 18px;
  margin: 8px 0px 8px 16px;
}

.explorer .content .explorer-icon {
  background: url(../images/win98_icons/directory_closed.ico);
  margin: 16px 0px 0px 16px;
  background-repeat: no-repeat;
  background-size: 32px;
  height: 32px;
}

.explorer .content .underline-header {
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, red), color-stop(24%, red), color-stop(25%, #ffe900), color-stop(49%, #ffe900), color-stop(50%, #00ff11), color-stop(74%, #00ff11), color-stop(75%, #00e9ff), to(#00e9ff));
  background: linear-gradient(90deg, red 0, red 24%, #ffe900 25%, #ffe900 49%, #00ff11 50%, #00ff11 74%, #00e9ff 75%, #00e9ff 100%);
}

.explorer .content .underline-header .red {
  border: 1px solid red;
  display: inline-block;
}

.explorer .content .underline-header .green {
  border: 1px solid lime;
  display: inline-block;
}

.explorer .content .underline-header .yellow {
  border: 1px solid yellow;
  display: inline-block;
}

.explorer .content .underline-header .blue {
  border: 1px solid aqua;
  display: inline-block;
}

.explorer .content .left-side {
  background-image: url(../images/explorercorner.jpg);
  background-repeat: no-repeat;
  width: 30%;
  display: inline-block;
}

.explorer .content .right-side {
  width: 69%;
  display: inline-block;
}

.explorer .content .folder-icon {
  display: inline-block;
  width: 68px;
  text-align: center;
  margin-top: 4px;
  background-size: 32px !important;
  vertical-align: top;
}

.explorer .content .folder-icon:active {
  cursor: default;
}

.explorer .content .folder-icon:focus {
  outline: none;
  cursor: default;
}

.explorer .content .folder-icon .text {
  cursor: default;
  font-size: 12px;
  position: relative;
  margin: 34px 0 0 0px;
  color: #000000;
  text-overflow: ellipsis;
  overflow: hidden;
}

.explorer .content .folder-icon .active {
  overflow-y: visible;
  word-break: break-word;
  width: auto;
  color: #ffffff;
}

.explorer .content .folder-icon .active span {
  background: blue;
}

.explorer .content .folder-icon p {
  text-align: center;
}

.explorer .status-bar {
  margin-top: 5px;
  border-top: 1px solid #848484;
  background: url("../images/window/status-bar-grip.png") no-repeat right bottom;
}

.explorer .status-bar-content {
  border-top: 1px solid #fff;
  padding: 0px 0px 0px 0px;
}

.explorer .status-bar .box {
  height: 16px;
  display: inline-block;
  border: 1px inset #fff;
  padding: 0px 0px;
  margin-right: 0px;
  vertical-align: top;
}

.explorer .status-bar .box.disabled {
  color: #848484;
}

.explorer .status-folder-icon {
  width: 16px;
  height: 16px;
  margin: 0px 2px;
  vertical-align: middle;
}

.notepad {
  width: 500px;
  top: 50px;
  left: 100px;
  position: fixed;
  font-size: 12px;
  display: none;
}

.notepad .title {
  background: url(../images/win98_icons/notepad.ico) no-repeat left center;
  background-size: 16px 16px;
}

.notepad .menu-bar {
  background: none !important;
  padding: 0px !important;
}

.notepad .content {
  background: white;
  border: 1px solid #000;
  border-bottom-color: #a3a3a3;
  border-right-color: #a3a3a3;
  padding: 1px;
  overflow: scroll;
}

.notepad .content .document-wrap {
  outline: none;
}

.wolf .title {
  background: url(../images/win98_icons/wolf3d.ico) no-repeat left center;
  background-size: 14px 14px;
}

#minesweeper .title {
  background: url(../images/win98_icons/minesweeper.ico) no-repeat left center;
  background-size: 14px 14px;
}

.properties .title {
  padding-left: 2px !important;
}

.properties .properties-content {
  padding: 8px 4px 4px 4px;
}

.properties .properties-content .tab {
  position: relative;
  border: 2px outset #fff;
  width: 50px;
  border-bottom: 2px solid #c0c0c0;
  border-radius: 6px 6px 0px 0px;
  padding: 2px;
  text-align: center;
  margin-bottom: -2px;
}

.properties .properties-content .content {
  border: 2px outset #fff;
  border-radius: 0px 6px 6px 6px;
  padding: 4px 12px 32px 12px;
  width: 280px;
}

.properties .properties-content .content table {
  text-align: left;
}

.properties .properties-content .content table th {
  font-weight: 400;
  padding: 4px 16px 0px 0px;
}

.properties .properties-content .content table td {
  padding: 4px 0px 0px 8px;
}

.properties .properties-content .content .top {
  padding: 0px 4px 4px 4px;
}

.properties .properties-content .content .top img {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
}

.properties .properties-content .content .top p {
  display: inline-block;
  margin: 16px 32px;
}

.properties .properties-content .content .sep {
  border: 2px inset #fff;
  width: 100%;
  margin: 2px 0px;
}

.properties .properties-content .content .attributes {
  padding-bottom: 12px;
}

.properties .properties-content .content .attributes td {
  color: grey;
  text-shadow: 1px 1px white;
  -webkit-background-clip: text;
  background-clip: text;
}

.properties .properties-content .content .square {
  width: 8px;
  height: 8px;
  border: 2px inset #fff;
}

.properties .properties-content .bottom button {
  margin: 8px 4px 0px 0px;
  float: right;
}

.mail .title-bar .title {
  background: url(../images/win98_icons/mail.ico) no-repeat left center;
  background-size: 16px 16px;
}

.mail .menu-bar {
  background: none;
}

.mail .selectPicker {
  height: 20px;
  margin-top: 0;
}

.mail .top {
  border: 1px outset #fff;
}

.mail .top .f-sep {
  display: inline-block;
  width: 1px;
  vertical-align: center;
  background: #a5a5a5;
  height: 16px;
  border: 1px outset #fff;
  vertical-align: middle;
  margin: 1px 0 2px 0;
}

.mail .mail-top-bar {
  border: 1px outset #fff;
  padding-left: 7px;
}

.mail .mail-top-bar a {
  display: inline-block;
  margin: 0 auto;
  width: 44px;
  height: 44px;
  background: no-repeat center left;
  border: 1px solid #c0c0c0;
}

.mail .mail-top-bar a:hover {
  border: 1px outset #fff;
}

.mail .mail-top-bar a:active {
  border: 1px inset #fff;
}

.mail .mail-top-bar .b-send {
  background-image: url(../images/Mail/send.bmp);
}

.mail .mail-top-bar .b-cut {
  background-image: url(../images/Mail/cut.bmp);
}

.mail .mail-top-bar .b-copy {
  background-image: url(../images/Mail/copy.bmp);
}

.mail .mail-top-bar .b-paste {
  background-image: url(../images/Mail/paste.bmp);
}

.mail .mail-top-bar .b-undo {
  background-image: url(../images/Mail/undo.bmp);
}

.mail .mail-top-bar .b-attach {
  background-image: url(../images/Mail/attach.bmp);
}

.mail .mail-top-bar .f-sep {
  display: inline-block;
  width: 1px;
  background: #a5a5a5;
  height: 44px;
  border: 1px outset #fff;
  vertical-align: top;
  margin: 1px 0 2px 0;
}

.mail .mail-top-bar .sep {
  display: inline-block;
  width: 1px;
  background: #a5a5a5;
  height: 44px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  vertical-align: top;
  margin: 1px 0 2px 0;
}

.mail .toolbar {
  background-color: #c0c0c0;
  margin: 0;
  border: none;
  background-image: none;
}

.mail .toolbar a {
  vertical-align: top;
}

.mail .toolbar .sep {
  display: inline-block;
  width: 1px;
  background: #a5a5a5;
  height: 22px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.mail .header-info {
  padding: 2px;
}

.mail .middle-bar {
  width: 100%;
  margin: 2px;
}

.mail .middle-bar p {
  display: inline-block;
  margin: 0px 18px 0px 4px;
}

.mail .middle-bar .to {
  padding-right: 4px;
}

.mail .middle-bar .subject {
  padding-right: 0px;
}

.mail .middle-bar .to,
.mail .middle-bar .cc {
  background: url(../images/win98_icons/address_book.ico) no-repeat center left;
  background-size: 16px;
  padding-left: 26px;
}

.mail .middle-bar div.attachment {
  display: inline-block;
  width: 80%;
  min-height: 16px;
  background: #fff;
  border: 1px solid #000;
  border-right-color: #fff;
  border-bottom-color: #fff;
  background: #fff;
  -webkit-box-shadow: -1px -1px 0px 0px #828282;
          box-shadow: -1px -1px 0px 0px #828282;
  padding: 2px;
  padding-right: 0px;
  vertical-align: top;
  margin-right: 19px;
}

.mail .middle-bar div.attachment .attached-list {
  display: inline-block;
  border: 1px solid transparent;
}

.mail .middle-bar div.attachment .attached-list img {
  width: 14px;
}

.mail .middle-bar div.attachment .attached-list span {
  vertical-align: middle;
}

.mail .middle-bar div.attachment .attached-list .cancel {
  display: inline-block;
  background: url(../images/window/cross.png) no-repeat right center;
  width: 8px;
  height: 12px;
  margin-left: 2px;
}

.mail .middle-bar div.attachment .attached-list:hover {
  border: 1px solid #888888;
}

.mail .middle-bar input {
  display: inline-block;
  width: 80%;
  border: 1px solid #000;
  border-right-color: #fff;
  border-bottom-color: #fff;
  background: #fff;
  -webkit-box-shadow: -1px -1px 0px 0px #828282;
          box-shadow: -1px -1px 0px 0px #828282;
}

.mail .mail-content {
  border: 1px solid black;
  border-right-color: #fff;
  border-bottom-color: #fff;
  -webkit-box-shadow: -1px -1px 0px 0px #828282;
          box-shadow: -1px -1px 0px 0px #828282;
  background: #fff;
  padding: 2px;
  margin: 2px;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  outline: none;
}

.mail .mail-bottom-bar {
  height: 20px;
  border: 1px inset #fff;
  bottom: -1px;
  left: 2px;
  right: 2px;
}

#run {
  width: 390px !important;
  height: auto !important;
  position: absolute;
  bottom: 28px;
  left: 0;
  display: none;
}

#run .title {
  padding-left: 2px;
}

#run .top {
  margin: 12px 0px 0px 12px;
}

#run .top p {
  display: inline-block;
  width: 320px;
  vertical-align: super;
  margin-left: 12px;
}

#run .top img {
  display: inline-block;
}

#run .middle {
  display: inline-block;
  padding: 0px 12px 18px 12px;
}

#run .middle p {
  display: inline-block;
  margin: 0px 12px 0px 12px;
}

#run .middle .custom-combobox-input {
  background: #fff url(../images/window/arrow.png) no-repeat right;
  border: 1px solid #424242;
  border-right-color: #fff;
  border-bottom-color: #c0c0c0;
  -webkit-box-shadow: 1px 1px white;
          box-shadow: 1px 1px white;
  width: 290px;
  font: normal 8pt/1.3 'Helvetica Neue', Arial, Helvetica, sans-serif;
  outline: none;
}

#run .middle .custom-combobox-toggle {
  margin: 0px -20px 0px -20px;
  padding: 6px 20px;
  display: inline;
}

#run .bottom {
  text-align: left;
  margin: 0px 12px;
}

#run .bottom button {
  float: right;
}

#sub-menu-2 {
  background-color: #c0c0c0;
  position: fixed;
  left: 209px;
  bottom: 240px;
  border: 2px outset #fff;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
  display: none;
}

#sub-menu-2 .sub-menu-item {
  margin: 2px;
}

#sub-menu-2 .sub-menu-item:hover {
  background-color: #000080;
  color: #fff;
}

#sub-menu-2 .sub-menu-item:active {
  color: #fff;
  background-color: #000080;
}

#sub-menu-2 .sub-menu-item .text {
  font-size: 12px;
  width: 140px;
  display: inline-block;
}

#sub-menu-2 .sub-menu-item .bullet {
  display: inline;
  position: fixed;
  right: 3px;
  position: absolute;
}

#sub-menu-2 .sub-menu-item img.icon {
  width: 16px;
  vertical-align: middle;
}

#start-menu {
  display: none;
  background-color: #c0c0c0;
  position: fixed;
  left: 2px;
  bottom: 25px;
  width: 207px;
  height: 334px;
  border: 2px outset #fff;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
  overflow-y: auto;
}

#start-menu #options {
  display: inline-block;
  left: 25px;
  width: 186px;
  height: 334px;
  position: fixed;
}

#start-menu #options hr {
  height: 2px;
  border: 0;
  -webkit-box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  margin: 3px;
}

#start-menu #options #func .menu-item {
  margin-top: 2px;
}

#start-menu #options #func .menu-item:hover {
  background-color: #000080;
  color: #fff;
}

#start-menu #options #func .menu-item:active {
  color: #fff;
  background-color: #000080;
}

#start-menu #options #func .menu-item .bullet {
  display: inline;
  position: absolute;
  right: 3px;
}

#start-menu #options #func .text {
  font-size: 12px;
  vertical-align: middle;
  display: inline-block;
  padding: 0px 2px 0px 12px;
}

#start-menu #options #func img.icon {
  width: 30px;
  vertical-align: middle;
}

#start-menu #system-name {
  display: inline-block;
  width: 21px;
  background-color: blue;
  position: absolute;
  height: 334px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00045f), color-stop(#010079), to(blue));
  background: linear-gradient(#00045f, #010079, blue);
  /* Standard syntax */
  background: blue;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#00045f, #010079, blue);
  /* For Firefox 3.6 to 15 */
}

#start-menu #system-name .text {
  font-family: Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
  color: white;
  font-size: 16px;
  -webkit-transform: rotate(-90deg) translate(-300px, -10px);
          transform: rotate(-90deg) translate(-300px, -10px);
}

#winamp2-js {
  outline: none;
  margin: 0 auto;
  /*position: absolute;*/
  /*    top:500;
    left:500;*/
}

#winamp2-js input[type=range] {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

#winamp2-js input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  background: none;
}

#winamp2-js input[type=range]::-moz-range-thumb {
  border: none;
  border-radius: 0;
  background: none;
}

#winamp2-js input[type=range]::-moz-range-track {
  border: none;
  background: none;
}

#winamp2-js input[type=range]:focus {
  outline: none;
}

#winamp2-js input[type=range]::-moz-focus-outer {
  border: 0;
}

#winamp2-js a:focus {
  outline: none;
}

/* Animation */
@keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

#winamp2-js .character {
  display: block;
  float: left;
  /* Safari does not do inline-block well */
  width: 5px;
  height: 6px;
  /* background-image: TEXT.BMP via Javascript */
  text-indent: -9999px;
}

#winamp2-js .window {
  position: absolute;
  cursor: url("../cursors/MAINMENU.PNG"), auto;
}

#taskbar {
  cursor: default;
  background-color: #c0c0c0;
  margin: 0;
  /* add back negative margin value */
  padding: 0 8px 0 8px;
  width: 100%;
  height: 25px;
  position: fixed;
  bottom: 0;
  border-top: 2px outset #fff;
  z-index: 2147483646;
  left: 0;
  right: 0;
}

#taskbar img.icon {
  width: 16px;
  margin: 0 1px 0 2px;
}

#taskbar #quick-launch img {
  border: 1px solid transparent;
}

#taskbar #quick-launch img:hover {
  border: 1px outset #fff;
}

#taskbar #quick-launch img:active {
  border: 1px inset #fff;
}

#taskbar #right {
  position: fixed;
  right: 88px;
  bottom: 2px;
}

#taskbar #right #clock {
  position: fixed;
  border: 2px inset #fff;
  text-align: right;
  padding: 0px 0px 0.0px 2px;
  width: 77px;
  margin-top: 2px;
  margin-left: 2px;
  right: 4px;
  bottom: 2px;
  height: 16px;
}

#taskbar #right #clock .text {
  vertical-align: middle;
  font-size: 12px;
  margin-top: 2px;
  margin-right: 2px;
}

#taskbar #start-button {
  cursor: default;
  display: inline-block;
  border: 2px outset #fff;
  padding: 0px 0px 0.0px 2px;
  width: 52px;
  margin-top: 2px;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
  height: 17px;
  left: 0;
  margin-left: -6px;
}

#taskbar #start-button .text {
  display: inline-block;
  text-align: left;
  font-size: 12px;
  position: absolute;
  margin: 0;
  font-weight: bold;
  top: 6px;
}

#taskbar #start-button:hover {
  text-color: #000;
  background-shadow: #080808;
}

#taskbar #start-button:active {
  text-color: #000;
}

#taskbar .pipe {
  display: inline-block;
  width: 1px;
  height: 16px;
  border: 1px outset #fff;
  margin: 0 -2px 0 -2px;
}

#taskbar .bigpipe {
  display: inline-block;
  border-left: 1px solid gray;
  border-right: 1px solid white;
  height: 20px;
  margin: 0;
  top: 20px;
}

#taskbar .window-open {
  cursor: default;
  display: inline-block;
  border: 2px outset #fff;
  padding: 0px 0px 0.0px 0.0px;
  max-width: 219px;
  min-width: 30px;
  margin-top: 2px;
  margin-left: 2px;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
  height: 17px;
  vertical-align: top;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#taskbar .window-open .text {
  /*display:inline-block;
            text-align: left;
            vertical-align: middle;
            font-size:14px;  
            //padding-bottom:4px;
            position:relative;
            margin:0;*/
  display: inline-block;
  text-align: left;
  vertical-align: top;
  font-size: 12px;
  margin: 2px 0 0 0;
}

#taskbar .window-open:hover {
  text-color: #000;
  background-shadow: #080808;
}

#taskbar .window-open:active {
  text-color: #000;
}

#taskbar #task {
  overflow: hidden;
  max-width: 219px;
  min-width: 20px;
}

#taskbar #task .active-task {
  border: 2px inset #fff;
  background: url(../images/Word%20Images/background.bmp);
  -webkit-box-shadow: -1px -1px black;
          box-shadow: -1px -1px black;
  font-weight: bold;
  overflow-x: hidden;
  margin-top: 3px;
}

/* Turn on a 13x13 scrollbar */
::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}

/*::-webkit-scrollbar-button:vertical {
    background-color: red;
    border: 1px dashed blue;
}*/
/* Turn on single button up on top, and down on bottom */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
}

/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}

/* Place The scroll down button at the bottom */
::-webkit-scrollbar-button:vertical:increment {
  width: 18px;
  background: #c0c0c0 url(../images/window/toolbar/combo.png) no-repeat center center;
  height: 18px;
  margin: 1px 1px 1px 10px;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
  border: 1px outset #fff;
  border-shadow: 1px 1px black;
}

/* Place The scroll up button at the up */
::-webkit-scrollbar-button:vertical:decrement {
  width: 11px;
  background: #c0c0c0 url(../images/window/toolbar/comboup.png) no-repeat center center;
  height: 16px;
  margin: 1px 1px 1px 10px;
  transform: rotateX(180deg);
  -webkit-transform: rotateY(180deg);
  border: 1px outset #fff;
  border-shadow: 1px 1px black;
}

::-webkit-scrollbar-track:vertical {
  background-image: url(../images/Word%20Images/background.bmp);
}

/* Top area above thumb and below up button */
/* Bottom area below thumb and down button */
/* Track below and above */
::-webkit-scrollbar-track-piece {
  margin: 1px;
}

/* The thumb itself */
::-webkit-scrollbar-thumb:vertical {
  border: 1px outset #fff;
  border-shadow: 1px 1px black;
  height: 40px;
  background-color: #c0c0c0;
}

/* Corner */
::-webkit-scrollbar-corner:vertical {
  background-color: black;
}

/* Resizer */
:-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
}

/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement {
  display: none;
}

/* Place The scroll down button at the bottom */
::-webkit-scrollbar-button:horizontal:increment {
  width: 18px;
  background: #c0c0c0 url(../images/window/toolbar/comboright.png) no-repeat center center;
  height: 18px;
  margin: 1px 1px 1px 10px;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
  border: 1px outset #fff;
  border-shadow: 1px 1px black;
}

/* Place The scroll up button at the up */
::-webkit-scrollbar-button:horizontal:decrement {
  width: 18px;
  background: #c0c0c0 url(../images/window/toolbar/comboleft.png) no-repeat center center;
  height: 18px;
  margin: 1px 1px 1px 10px;
  transform: rotateX(180deg);
  -webkit-transform: rotateY(180deg);
  border: 1px outset #fff;
  border-shadow: 1px 1px black;
}

::-webkit-scrollbar-track:horizontal {
  background-image: url(../images/Word%20Images/background.bmp);
}

/* Top area above thumb and below up button */
/* Bottom area below thumb and down button */
/* Track below and above */
::-webkit-scrollbar-track-piece {
  margin: 1px;
}

/* The thumb itself */
::-webkit-scrollbar-thumb:horizontal {
  border: 1px outset #fff;
  border-shadow: 1px 1px black;
  height: 40px;
  background-color: #c0c0c0;
}
/*# sourceMappingURL=mod.css.map */